{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit a todo item</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        <div class="button-cart row">
            <ul class="button-cart-back col-md-6">
                <li>
                    <a class="btn btn-link" href="{{ path('todoitem_index') }}"><i class="glyphicon glyphicon-chevron-left"></i>Back</a>
                </li>
            </ul>

            <ul class="button-cart-forward col-md-6">
                <button class="btn btn-primary" type="submit">
                    <i class="glyphicon glyphicon-floppy-disk"></i>
                    Save
                </button>
            </ul>
        </div>
    {{ form_end(edit_form) }}

{% endblock %}
