{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create a todo item</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <ul class="button-cart">
            <li>
                <a class="btn btn-default" href="{{ path('todoitem_index') }}"
                    ><i class="glyphicon glyphicon-remove"></i> Back</a>
            </li>
            <li>
                <button class="btn btn-primary" type="submit">
                    <i class="glyphicon glyphicon-floppy-disk"></i>
                    Save
                </button>
            </li>
        </ul>
    {{ form_end(form) }}

{% endblock %}
