.todo-list-header {
    font-weight: bold;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item-actions {
    text-align: right;
}

.todo-item-actions ul {
    list-style-type: none;
    padding: 0;
}

.todo-item-actions ul li {
    display: inline;
}

.button-cart {
    list-style-type: none;
    text-align: right;
}

.button-cart li {
    display: inline;
}
